div {
	margin-top: 30px;
	margin-bottom: 30px;
}

div.static {
    position: static;
    border: 3px solid #73AD21;
}


div.relative {
    position: relative;
    left: 20px;
    border: 3px solid #73AD21;
}

div.absolute {
	margin: 0;
    position: absolute;
    left: 0;
    top: 30px;
    border: 3px solid #73AD21;
    background: white;	
}


div.relative-container {
	position: relative; 
	height: 300px;
	width: 300px;
	border: 3px solid #73AD21;
}

div.absolute-inner {
	position: absolute;
	left: 80px;
	top: 80px;
	width: 100px;
	height: 100px;
	border: 3px solid #73AD21;
}

div.fixed {
	margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    border: 3px solid #73AD21;
    background: white;	
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    border: 3px solid #73AD21;
}

body {
	margin-top: 100px;
	height: 3000px;
}